* {
    box-sizing: border-box;
}


body {
    margin: auto;
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: min(95vmin, 740px);
    display: table;
}

.container {
    padding: 1.5vmin;
    background: linear-gradient(to bottom, #333, #444);
    border-radius: 1vmin;
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vmin;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vmin;
}

.image-container {
    padding: 1vmin;
    transition: transform 0.5s;
}

.image-container:not(.after-clicked):hover {
    transform: scale(1.1);
}

.image-grid img {
    width: min(512px, 43vmin);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
    width: 100%;
    padding: 0.5vmin;
    margin-bottom: 1vmin;
    box-sizing: border-box;
    border: 0.2vmin solid #ccc;
    border-radius: 1vmin;
    font-size: min(4vmin, 16px);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button:not(.top-button) {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #5d5d5d;
    /*text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);*/
    color: #fff;
    cursor: pointer;
    /*margin-right: 20px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background 0.5s ease;
}

button:hover:not(.top-button) {
    background-color: #6e6e6e;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.top-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmin;
}

.top-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background 0.5s ease;
    margin: 0 5px;
}

.top-button:hover {
    background-color: #444;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: max(2.5vmin, 20px);
    border-radius: 5px;
    position: relative;
}

.progress-bar-background {
    /*margin-left: 60px;*/
    background: #eaad67;
}

.progress-bar {
    flex: 1; /* add this */
    height: max(2vmin, 16px);
    width: 0;
    background: #9fde95;
    border-radius: 5px;
    transition: width 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.25vmin;
}

.progress-bar-text {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: max(2vmin, 14px);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-text p {
    font-size: max(2vmin, 14px);
    margin: 0.25vmin;
}


.after_clicked {
    pointer-events: none; /* Make element unclickable */
}

.clicked {
}

.splash-screen {
    position: fixed; /* position the splash screen as a fixed element on top of the page */
    top: 0;
    width: min(95vmin, 740px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* set a transparent black background */
    z-index: 999; /* set the z-index to ensure the splash screen is on top of other elements */
    display: flex; /* make the splash screen a flex container */
    align-items: center; /* center the splash screen vertically */
    justify-content: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .splash-screen {
        /* Use a smaller font size on smaller screens */
        font-size: 18px;
    }
}

.splash-screen-inner {
    border-radius: 10px; /* add rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* add a shadow */
    padding: 4vmin; /* add some padding */
    margin: 2vmin; /* center the splash screen horizontally and vertically */
}

.splash-screen h1 {
    text-align: center;
    font-size: 32px;
}

.splash-screen p {
    margin: 4vmin 0;
    text-align: center;
    font-size: 18px;
}

.splash-screen li {
    margin: 4vmin 0;
    text-align: left;
    font-size: min(4vmin, 18px);
}

.splash-screen-buttons {
    display: flex; /* make the buttons a flex container */
    margin-top: 20px;
}

.splash-screen-button {
    display: inline-block;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #5d5d5d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /*text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);*/
    color: #fff;
    cursor: pointer;
    transition: background 0.5s ease;
    flex: 1; /* set the flex value to 1 to evenly distribute the buttons in the container */
    text-align: center; /* center the button text */
}

.splash-screen-button:hover {
    background-color: #6e6e6e;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.a {
    display: inline-block;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background: linear-gradient(to bottom, #033964, #94a6f1);
    /*text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);*/
    color: #fff;
    cursor: pointer;
    transition: background 0.5s ease;
    flex: 1; /* set the flex value to 1 to evenly distribute the buttons in the container */
    text-align: center; /* center the button text */
}

button.google-button {
    background-image: url('https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png');
    background-size: 50px 50px; /* set the width and height to 50 pixels */
    background-repeat: no-repeat;
    background-position: center top;
}

.footer {
    position: fixed; /* position the footer at the bottom of the viewport */
    bottom: 0; /* align the bottom edge of the footer with the bottom of the viewport */
    width: 100%; /* make the footer full width */
    background-color: #333; /* set the background color */
    color: #fff; /* set the text color */
    padding: 0px; /* add some padding to the footer */
    alignment: center;
    align-content: center;
    text-align: center;
}

h1 a {
    color: #c0e0c7;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
    target: "_blank";
}

h1 a:hover {
    /* Change the font color on hover */
    color: #00b8d4;
}

a {
    color: #ec6565;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
    target: "_blank";
}

a:hover {
    /* Change the font color on hover */
    color: #e71414;
}

li a {
    color: #c0e0c7;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
}

li a:hover {
    /* Change the font color on hover */
    color: #00b8d4;
}

footer a {
    color: #fff;
    transition: color 0.5s;
}

footer a:hover {
    /* Change the font color on hover */
    color: #00b8d4;
}

footer p {
    text-align: center;
}

