{% extends "base.html" %}

{% block title %}NATALI{% endblock %}

{% block content %}
<div class="bgimg2 w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 align="center" class="with-eight"><strong>Pick a Pic</strong></h1>
     <hr class="w3-border-grey" style="margin:auto;width:40%">
    <a href="/info" style="text-decoration:none">
    <p align="center" class="with-eight">Learn more</p>
     </a>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <a href="/login" style="text-decoration:none">
    <p align="center" class="with-eight">Login and Participate</p>
         <hr class="w3-border-grey" style="margin:auto;width:40%">
    </a>
  </div>
</div>
{% endblock %}