{% extends "base.html" %}

{% block title %}Pick a Pic{% endblock %}

{% block content %}
    <div class="bgimg2 w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-middle">
            <h1 align="center" class="with-eight"><strong>Pick a Pic</strong></h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p align="left" class="with-eight">
                Human feedback led to dramatic improvements in natural language processing.
                In this project we wish to initiate a community effort to use human feedback in text-to-image
                generation.
                Being a community effort, all the code, data, and models resulting from this project will be completely
                open-sourced.
                We welcome any contributions and help with this effort.
            </p>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <a href="/reach_out" style="text-decoration:none">
                <p align="center" class="with-eight">About Us</p>
            </a>
            {% if is_authenticated %}
                <hr class="w3-border-grey" style="margin:auto;width:50%">
                <a href="/legal" style="text-decoration:none">
                    <p align="center" class="with-eight">Agree to Terms and Start!</p>
                </a>
            {% endif %}
            {% if not is_authenticated %}
                <hr class="w3-border-grey" style="margin:auto;width:40%">
                <a href="/login" style="text-decoration:none">
                    <p align="center" class="with-eight">Login and Participate</p>
                    <hr class="w3-border-grey" style="margin:auto;width:40%">
                </a>
            {% endif %}

        </div>
    </div>
{% endblock %}