{% extends "base.html" %}

{% block title %}NATALI: Legal{% endblock %}

{% block content %}
<div class="bgimg1 w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 align="center" class="with-eight"><strong>Agreement</strong></h1>
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <p align="center" class="with-eight"><ul>
    <li class="with-eight"> This demo is for research purposes only. </li>
    <li class="with-eight"> The authors are not responsible for any misuse of the demo. </li>
    <li class="with-eight"> Generated images may include offensive content, such as violence, gore, and nudity. By using the demo, users are aware that such content may be generated, and do so at their own risk. </li>
    <li class="with-eight"> By using the demo, the users grant consent for their prompts, interactions, and generated images to be collected and eventually released into the public domain.</li>
    <br>
    </ul></p>
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <a href="/gradio" style="text-decoration:none">
    <p align="center" class="with-eight">Lets go!</p>
     </a>
  </div>
</div>
{% endblock %}